@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
    --primary:#141424;
    --colorText:#d88511;
    --secondary:#343434;
    --far_bars:#d88511;
    --icon:#ffffff;
}

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

/* start top button */
.scroll-to-top{
    position: fixed;
    bottom: 40px;
    right: 40px;
    border-radius: 10%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: white;
    background:var(--colorText);  
    border: none;  
    transition-duration: 500ms;
    z-index: 2;
}

.scroll-to-top:hover{
    background: var(--secondary);
}

@media (max-width:768px) {
    .scroll-to-top{
        right: 20px;
        bottom: 60px;
        width: 40px;
        height: 40px;
    }
}
/* end top button */

/* start preloader */
.loading-overlay {
    position: fixed;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    z-index: 99999;
    background-color: var(--colorText);
}
.loading-overlay .image-load{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%,-50%);
    opacity: 1;
    animation-name: lds-heart;
    animation-iteration-count: infinite;
}

@media (max-width:768px) {
    .loading-overlay .image-load{
        width: 250px;
        height: 250px;
        border-radius: 50%;
        position: absolute;
        top: 40%;
        left: 20%;
        transform: translate(-50%,-50%);
        opacity: 1;
        animation-name: lds-heart;
        animation-iteration-count: infinite
    }
}

@keyframes lds-heart {
    0% {
        transform: scale(0.0);
    }
    /* 5% {
    transform: scale(1);
    }

    39% {
    transform: scale(0.85);
    }
    45% {
    transform: scale(1);
    } */
    /* 60% {
    transform: scale(0.95);
    } */
    100% {
        transform: scale(.3);
    }
}
/* end preloader */


/* global features to any website */
ul li{
    list-style: none;
    text-decoration: none;
    color: inherit;
}

ul li a{
    list-style: none;
    text-decoration: none;
    color: inherit;
}

a{
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
    text-decoration: none;  
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img:hover{
    opacity: .7;
    transition: .3s all ease-in-out;
}


::-webkit-scrollbar{
    width: 7px;
}

::-webkit-scrollbar-thumb{
    background:linear-gradient(white,var(--secondary));
    border-radius: 8px;
}

h1{
    font-weight: 800;
    font-size: 30px;
    color: var(--colorText) !important;
}

h2{
    font-size: 20px;
    color: var(--colorText);
    font-weight: 800;
    line-height: 30px;
}

h3{
    font-size: 25px;
    color: var(--secondary);
}

h4{
    font-size: 30px;
    color: var(--secondary);
    line-height: 40px;
    font-weight: 600;
}

h5{
    font-size: 15px;
    font-weight: 500;
    line-height: 50px;
    color: var(--secondary);
}

h6{
    font-size: 15px;
    font-weight: 400;
    line-height: 50px;
    color: var(--secondary);
}

p{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #707070;
}

.btn{
    border: none;
    background-color: var(--colorText);
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    white-space: nowrap;
}

.btn:hover{
    border: none;
    background-color: var(--secondary);
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    transition: .5s all ease-out;
}


i{
    color: var(--icon);
}

.social-icon i{
    color: white !important;
    padding: 7px;
    font-size: 14px;
}
.social-icon i:hover{
    background-color: var(--primary);
    border-radius: 50%;
    color:white !important;
    transition: .3s all ease;
}

img:hover{
    opacity: .8;
}

span{
    color: #646464 !important;
    font-size: 13px;
}

input[type=text], input[type=email],input[type=number],input[type=password],input[type=date], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #707070; 
    font-size: 14px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
}

input:focus{
border-color: var(--colorText) !important;
box-shadow: none !important;
}

input[type=submit] {
    background-color: var(--colorText);
    color: white;
    padding: 12px 20px;
    border: none;
    display: block;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: black;
    transition: .3s all ease-in-out;
}  
/* end global features */

/* start upperbar */
.upperbar{
/* background-color: #001d38 !important; */
background-color: white !important;
}

.upperbar span{
    word-break: break-all;
}
/* end upperbar */

/* start navbar canavs */
@media (min-width:768px) {
    .navbar-nav{
        margin-left: 17%;
        /* margin-left: 250px; */
    }
}

@media (min-width:768px) {
    .fa-bars{
        display: none;
    }
}

.fa-bars{
   color: var(--far_bars);
}
.navbar{
    /* background-color: var(--primary) !important; */
    background-color: black !important;
}


@media (min-width:768px) {
    .navbar-expand-sm .navbar-nav .nav-link{
        color: white;
        white-space: nowrap;
    }
}

@media (max-width:768px) {
    .navbar-expand-sm .navbar-nav .nav-link{
        color: black !important;
    }
    .navbar .logo-navbar{
        height: 50px;
        width: 50px;
    }
    .dropbtn{
        padding: 0 !important;
        color: black !important;
    }
    .icons i{
        color: black !important;
    }
}

.offcanvas {
    width: 70% !important;
}

.nav-item .nav-link{
    color: white !important;
    line-height: 30px;
    font-weight: 500;
    font-size: 15px;
}

.nav-item .nav-link:hover{
    color: var(--colorText) !important;
    line-height: 30px;
    font-weight: 500;
    font-size: 18px;
    transition: .3s all ease-in-out;
}

.btn{
    border: none;
    background-color: var(--colorText);
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    white-space: nowrap;
}

.btn:hover{
    border: none;
    background-color: var(--secondary);
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    transition: .5s all ease-in-out;
}

/* Dropdown Button */
.dropbtn {
    border: none;
    background: none;
    border-radius: 20%;
    color: white;
    line-height: 30px;
    font-weight: 500;
    font-size: 15px;
}

.dropbtn:hover{
    color: var(--colorText) !important;
    font-size: 18px;
    transition: .3s all ease-in-out;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 35px;
}

.dropdown-content a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    font-size: 15px;
    text-align: center;
    white-space: nowrap;
}

.dropdown-content a:hover {background-color: var(--colorText); color: white;}

.dropdown:hover .dropdown-content {display: block;}

/* end navbar canvas */

/* start design for button in modal */
.btn-login{
    border: none;
    background:none !important;
    color: white;
    width:30px;
    height:30px;
    line-height: 30px;
    border-radius: 50%;
    /* padding: 10px 20px; */
    white-space: nowrap;
    margin-top: 8px !important;
}

.btn-facebook{
    padding: 10px;
    background-color: #097eeb;
    color: white;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    border-radius: 4%;
}

.btn-google{
    padding: 10px;
    background-color: #ea4335;
    color: white;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    border-radius: 4%;
}
/* end design for button in modal */

/* start slider */
.big-image {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("../images/slider/banner.png");
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.overlay h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
    margin: 0 0 5px;
    position: relative;
    bottom: 10%;
    color: white !important;
    text-align: center !important;
}

.overlay p {
    margin: 0;
    position: relative;
    bottom: 10%;
    color: white !important;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center !important;
}

.overlay .select{
    position: relative;
    bottom: 3%;
    background: rgba(0, 28, 56, 0.6);
    padding: 30px;
    border-radius: 1%;
    border-radius: 10px;
    max-width: 1000px;
}

label{
    color: var(--colorText);
}

select{
    background-color: #001d38 !important;
    border: none !important;
    color: white !important;
}

.selects{
    background: none;
    background-color: white!important;
    border:1px solid rgb(194, 191, 191);
    color: black !important;
}

.range-slide {
    position: relative;
    /* margin: 40px; */
    height: 1px;
    width: 240px;
    left: 37%;
    top: 15%;
}

.range-slide  .slide {
    position: absolute;
    top: 0;
    height: 4px;
    background: #ccc;
    left: 9px;
    right: 9px;
}

.range-slide .line {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 4px;
    background-color: var(--colorText);
}

.range-slide  .thumb {
    position: absolute;
    z-index: 2;
    text-align: left;
    border: 1px solid white;
    background-color: white;
    border-radius: 50%;
    outline: none;
    top: -7px;
    height: 18px;
    width: 18px;
    margin-left: -9px;
}

.range-slide input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    pointer-events: none;
    z-index: 3;
    height: 3px;
    top: 0;
    width: 100%;
    opacity: 0;
    margin: 0;
}

.range-slide input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    pointer-events: all;
    border-radius: 50%;
    cursor: pointer;
    width: 18px;
    height: 18px;
}

.display {
    /* margin: 40px; */
    width: 240px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.display span{
    color: white !important;
}


@media (max-width:768px) {
    .overlay h1 {
        font-size: 30px;
        font-weight: 500;
        line-height: 40px;
        margin: 0 0 5px;
        position: relative;
        bottom: -1% !important;
        color: white !important;
        /* display: none !important; */
    }
    .overlay p {
        margin: 0;
        font-size: 12px;
        position: relative;
        bottom: -1% !important;
        color: white !important;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: 0px;
        /* display: none !important; */
    }

    .overlay .select{
        position: relative;
        bottom: -1% !important;
        background: rgba(0, 28, 56, 0.6);
        padding: 30px;
        width: 100vw !important;
        border-radius: 1%;
        border-radius: 10px;
    }
    .range-slide {
        position: relative;
        /* margin: 40px; */
        height: 1px;
        width: 240px;
        left: 14%;
        top: 15%;
    }
}
/* end slider */

/* start cards for appartment */
/* .appartments{
    margin-top: 40px;
}

.sale{
    position: absolute;
    color: white;
    top: 5%;
    background-color: var(--colorText);
    width: 80px;
    height: 46px;
    line-height: 45px;
    font-weight: 500;
    text-align: center;
    border-radius: 30px;
}

.card{
    border: none !important;
}

.price{
    background-color: var(--primary);
    color: white !important;
    padding: 5px 10px;
    border-radius: 10px;
}

.btn-card {
    background: none !important;
    border: 1px solid var(--colorText);
    border-radius: 30px;
}

.btn-card:hover{
    background-color: var(--colorText) !important;
    transition: .4s all ease-out;
    color: white !important;
} */
/* end cards for  appartment */

/* start for rent */
.for-rent{
    margin-top: 30px;
}

.btn-card {
    background: none !important;
    border: 1px solid var(--colorText);
    border-radius: 30px;
}

.btn-card:hover{
    background-color: var(--colorText) !important;
    transition: .4s all ease-out;
    color: white !important;
} 

.text-desc{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1; 
    -webkit-box-orient: vertical;
}
/* end for rent */

/* start testimonilas */
.testimonials{
    background-image: url("../images/slider/banner.png");
    margin-top: 30px;
}

.testimonials .swiper {
    width: 70%;
    height: 100%;
}

@media (max-width:768px) {
    .testimonials .swiper {
        width: 100%;
        height: 100%;
    }
}

.testimonials .swiper-slide {
    /* text-align: center; */
    padding: 15px;
    font-size: 18px;
    background: rgba(0, 28, 56, 0.6);
    border-radius: 10px !important;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    /* height: 200px !important; */
}

.testimonials .swiper-slide img {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    padding: 3px;
    border-radius: 50%;
    border: 3px solid var(--colorText);
}

.swiper-button-next{
    background-color: var(--colorText) !important;
    font-size: 10px !important;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
}

.swiper-button-next:hover{
    background-color:black !important;
}

.swiper-button-next:after{
    font-size: 15px !important;
    color: white !important;
}

.swiper-button-prev{
    background-color: var(--colorText) !important;
    font-size: 10px !important;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
}

.swiper-button-prev:hover{
    background-color: black !important;
}

.swiper-button-prev:after{
    font-size: 15px !important;
    color: white !important;
}

/* end testimonilas */

/* start our team  */
.our-team{
    margin-top: 30px;
}

@media (max-width:768px) {
    .our-team img{
        height: 300px !important;
    }
}

.our-team .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* max-width: 300px; */
    margin: auto;
    text-align: center;
    border: none;
    transition: 0.3s;
}

.our-team .card img{
    border-radius: 10%;
}
.title {
    color: black;
    font-size: 19px;
    margin-top: 10px;
}
/* end our team */

/* start question and answers */
.accordion-button.collapsed {
    background: white !important;
}

/* .accordion-button.collapsed:hover{
    background-color: var(--colorText);
} */

.accordion-button.collapsed:focus{
    box-shadow: none !important;
    outline: none !important;
}

.accordion-button.collapsed::after{
    color: white !important;
}

.accordion-collapse{
    background-color: white;
}

.accordion-flush .accordion-item .accordion-button{
    background-color: white !important;
    border: none !important;
    box-shadow: none !important;
}


@media (max-width:768px) {
    .questions_annswers img {
        width: 100%;
        height: 250px;
        margin: auto;
        display: block;
    }
}
/* end questions and answers*/

/* start footer */
.footer-top {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: black;
    margin-top: 50px;
}

.footer-top a {
    color: white;
    font-size: 17px;
}

.footer-top a:hover {
    color: var(--colorText);
}

.footer-bottom {
    background-color:black;
    border-top: 1px solid gray;
}

.footer-top .follow-us{
    cursor: pointer;
}

.footer-top .follow-us i:hover{
    color: var(--primary) !important;
    transition: .2s all ease;
}

@media (max-width:768px) {
    .footer-top .footer-center-mobile{
    text-align: center !important;
    }
}
/* end footer */

/* start about us */
@media (max-width:768px) {
    .about-us img{
    width: 350px;
    height: 300px;
    margin: auto;
    display: block;
    }
}
/* end about us */

/* start contact us */
.text{
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #2020;
    padding: 5px;
}

.map-container{
    overflow:hidden;
    /* padding-bottom:56.25%; */
    position:relative;
    height:500px !important;
}

.map-container iframe{
    left:0;
    top:0;
    height:100% !important;
    width:100% !important;
    border: none !important;
    position:absolute;
}

@media (max-width:768px) {
    .map-container{
    overflow:hidden; 
    padding-bottom:56.25%;
    position:relative;
    height:0;
    left: 0;
} 
.map-container iframe{
    left:0;
    top:0;
    height:100% !important;
    width:100% !important;
    position:absolute;
    margin-top: 10px !important;
}
}
/* end contact us */

/* start page blog */
.picture-blog{
    width: 100%;
    height: 350px;
    border-radius: 10px;
}

@media (max-width:768px) {
    .picture-blog {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    }
}

.hover-one:hover{
    color: var(--colorText);
}

.input-group{
    margin-top: 20%;
}

.input-group-text{
    background-color: white !important;
}

.categories  h5{
    font-weight: 700;
    line-height: 29px;
    color: #303030;
    font-size: 22px;
}

.categories  li{
    list-style: none;
    border-bottom: 1px solid rgb(221, 219, 219);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #707070;
    padding: 10px;
}

.categories  li:hover{
    color: var(--colorText);
}

.recents-news img{
    width: 100%;
    height: 80px;
    padding: 5px;
    border-radius: 10%;
}
/* end page blog */



/* start categories */


.fa-th-list:active{
    color: var(--colorText) !important;
}

.fa-th-large:active{
    color: var(--colorText) !important; 
}

/* grid view (default) */
.gallery-widget ul
{
	display: flex;
	flex-flow: row wrap;
}

.gallery-widget li
{
	margin: 0.5rem;
	/* border: 1px solid silver; */
	padding: 0.5rem;
	flex: 0 0 calc(33% - 2rem - 2px);
	width: calc(33% - 2rem - 2px);
	display: flex;
	flex-flow: column nowrap;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

@media (max-width:768px) {
    .gallery-widget li
{
    margin-top: 20px !important;
	margin: 0.3rem;
	border: 1px solid silver;
	padding: 0.5rem;
	flex: 0 0 calc(100% - 0rem - 54px);
	width: calc(50% - 2rem - 2px);
	display: flex;
	flex-flow: column nowrap;
}

.box-for-categories .add-to-compare{
    position: absolute;
    top: 43%;
    left: 84% !important;
    background-color: black;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 17px;
}

.box-for-categories .add-to-favourite{
    position: absolute;
    top: 56%;
    left: 84% !important;
    background-color: black;
    width: 30px;
    height: 29px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 19px;
}

}

.gallery-widget img
{
	width: 100%;
}

.gallery-widget p
{
	/* margin: 0.5rem 0 0; */
	/* display: flex; */
	flex-flow: column nowrap;
}

.gallery-widget small
{
	margin: 0.5rem 0 0;	
}

/* list view (changes) */

.gallery-widget.list-view ul
{
	flex-flow: column nowrap;
}

.gallery-widget.list-view li
{
	margin: 0;
	border: none;
	border-bottom: 1px solid silver;
	padding: 0.5rem 0;
	flex-flow: row nowrap;
	flex: 0 0 100%;
	width: 100%;
}

.gallery-widget.list-view img
{
	flex: 0 0 20rem;
	align-self: flex-start;
	margin-right: 1rem;
}


.sell{
    position: absolute;
    top: 8%;
    left: 8%;
    background-color: var(--colorText);
    /* padding: 10px 14px; */
    width: 50px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
    font-weight: 300;
    font-size: 14px;
    color: white !important;
}

.box-for-categories .add-to-compare{
    position: absolute;
    top: 50%;
    left: 80%;
    background-color: black;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 17px;
}

.box-for-categories .add-to-compare:hover{
    background-color: var(--colorText);
    color: white;
}

.box-for-categories .add-to-favourite{
    position: absolute;
    top: 65%;
    left: 80%;
    background-color: black;
    width: 30px;
    height: 29px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 19px;
}

.box-for-categories .add-to-favourite:hover{
    background-color: var(--colorText);
    color: white;
}


.gallery-widget.list-view .sell{
    position: absolute;
    top: 8%;
    left: 1%;
    background-color: var(--colorText);
    /* padding: 10px 14px; */
    width: 50px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
    font-weight: 300;
    font-size: 14px;
    color: white !important;
}

.gallery-widget.list-view .add-to-compare{
    position: absolute;
    top: 61%;
    left: 35%;
    background-color: black;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
}

.gallery-widget.list-view .add-to-compare:hover{
    background-color: var(--colorText);
    color: white;
}

.gallery-widget.list-view .add-to-favourite{
    position: absolute;
    top: 79%;
    left: 35%;
    background-color: black;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 17px;
}

.gallery-widget.list-view .add-to-favourite:hover{
    background-color: var(--colorText);
    color: white;
}

.gallery-widget.list-view .view-for-list{
    /* flex-flow: column nowrap; */
    margin-top: 30px;
    margin-left: -230px;
}

/* start side bar drop down categories */
.item {
    border-bottom: 1px solid gray;
    padding: 0 5px;
}
.item .item-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 8px 0;
}
.item .item-header .title {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
}
.item .item-header .icon {
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    color: black !important;
}
.item .item-header .active {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}

.item .content {
    display: none;
    /* background-color: var(--primary); */
    border-radius: 10px;
}

.recents-Appartments img{
    width: 140px;
    height: 120px;
    padding: 5px;
    border-radius: 10%;
}
/* end cattegories */


/* start favourite */
.box-shadow{
    position: relative;
    /* width: 23%; */
    padding: 5px;
}

@media (max-width:768px) {
    .box-shadow{
        position: relative;
        /* width: 44%; */
        margin: 1 !important;
    }
    .box-shadow .middle {
        display: none;
    }
    .box-shadow:hover .image {
        opacity: 1 !important;
    }
    .icons-mobile{
        position: absolute;
        /* display: flex; */
        top: 31% !important;
        left: 66%;
    }
    .box-shadow  .image {
        opacity: 1;
        display: block;
        width: 100%;
        height: 150px !important;
        transition: .5s ease;
        backface-visibility: hidden;
    }
}

.box-shadow  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 200px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.box-shadow .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.box-shadow:hover .image {
    opacity: 0.3;
}

.box-shadow:hover .middle {
    opacity: 1;
}

.icons .add-to-trash{
    background-color: red;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    color: white !important;
    cursor: pointer;
}

.icons .add-to-compare{
    background-color: black;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    color: white !important;
    cursor: pointer;
}

.icons-mobile{
    position: absolute;
    top: 55%;
    right: 8%;
}

.icons-mobile .fa-trash-alt{
    background-color: red;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    color: white !important; 
}

.icons-mobile .fa-heart{
    background-color: red;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    color: white !important; 
}

.icons-mobile .add-to-compare{
    background-color: black;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    color: white !important;
}
/* end favourite */


/* start compare */

@media (max-width:768px) {
    @media (max-width:768px) {
        .in-mobile {
            width: 6rem !important;
        }
        .color{
            margin-bottom: 10px !important;
        }
        .list-group{
            font-size: 13px !important;
            white-space: nowrap !important;
        }
        .version-mobile{
            font-size: 12px !important;
            margin-top: 40px;
        }
    }
}

.list-group .color{
    background-color: var(--colorText) !important;
    color: white !important;
}

.compare .swiper {
    width: 100%;
    height: 100%;
}
.compare  .swiper-slide{
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: auto !important;
}

.card-link{
    background-color: red;
    color: white !important;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: auto !important;
    border-radius: 50%;
}
.card-link:hover{
    background-color: black;
    color: white !important;
    transition: .4s all ease-out;
}

/* end compare */

/* start category details */
.box-of-details{
    background-color: var(--primary);
    padding: 20px;
}

.price-for-detail{
    margin-left: 280px;
    margin-top: 55px;
    font-size: 45px;
}

.category-detail .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.category-detail .swiper-slide img {
    display: block;
    width: 100%;
    height:200px !important;
    object-fit: cover;
}

.category-detail .swiper {
    width: 100%;
    height: 150px !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px !important;
}

.category-detail .swiper-slide {
    background-size: cover;
    background-position: center;
}

.category-detail  .mySwiper3 {
    height: auto !important;
    width: 100%;
    border-radius: 10px;
}

.category-detail .mySwiper4 {
    height: 7% !important;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 10px !important;
}

.category-detail .mySwiper4 img{
    border: 3px solid var(--colorText);
}

@media (max-width:768px) {
    .category-detail .mySwiper4 {
        height: 4% !important;
        box-sizing: border-box;
        padding: 5px;
        border-radius: 10px !important;
    }
    .price-for-detail{
        margin-left: 70px !important;
        margin-top:0 !important;
        font-size: 25px !important;
    }
}

.category-detail .mySwiper4 .swiper-slide {
    width: 15% !important;
    height: 100px;
}

.category-detail .swiper-slide img {
    display: block;
    width: 100%;
    height: 400px !important;
    object-fit: cover;
}

@media (max-width:768px) {
    .category-detail .swiper-slide img {
        display: block;
        width: 100%;
        height: 250px !important;
        object-fit: cover;
    }
}

.description{
max-width: 800px;
}
/* end category details */


